.title{
    text-align: center;
    font-family: 'Museo Sans Cyrl';
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
    color: #0d0d0d;
    &_consultation{
        text-align: left;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
            }
}